<h2 *ngIf="!isEditMode">Dodaj osobę</h2>
<h2 *ngIf="isEditMode">Edytuj osobę</h2>
<p>{{ savePerson | json }}</p>
<form #form="ngForm">
  <div class="form-group">
    <label for="lastName">Nazwisko:</label>
    <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="savePerson.lastName" required>
  </div>
  <div class="form-group">
    <label for="firstName">Imię:</label>
    <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="savePerson.firstName" required>
  </div>
  <div class="form-group">
    <label for="city">Miejscowość:</label>
    <select class="form-control" id="city" name="city" [(ngModel)]="savePerson.cityId" required>
      <option></option>
      <option *ngFor="let c of cities" value="{{ c.id }}">{{ c.name }}</option>
    </select>
  </div>
  <div class="form-group">
    <label>Data urodzenia:</label>
    <div class="border" style="width:360px;">
      <dl-date-time-picker 
                           name="birthDate"
                           maxView="year"
                           minView="day"
                           startView="day"
                           [(ngModel)]="savePerson.birthdate">
      </dl-date-time-picker>
    </div>
  </div>
  <div class="form-group">
    <label for="company">Firma:</label>
    <select class="form-control" id="company" name="company" [(ngModel)]="savePerson.companyId" (change)="onCompanyChange()" required>
      <option></option>
      <option *ngFor="let c of companies" value="{{ c.id }}">{{ c.name }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="companyBranch">Oddział firmy:</label>
    <select [disabled]="savePerson.companyId == 0" class="form-control" id="companyBranch" name="companyBranch" [(ngModel)]="savePerson.companyBranchId" required>
      <option></option>
      <option *ngFor="let cb of companyBranches" value="{{ cb.id }}">{{ cb.name }}</option>
    </select>
  </div>
  <button type="button" class="btn btn-primary" [disabled]="!form.valid" (click)="submit()">Zapisz</button>
  <button type="button" class="btn btn-light" [routerLink]="['/view-persons']">Anuluj</button>
</form>
